# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Python
venv/
__pycache__/
**/__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# Generated images
backend/uploads/*
!backend/uploads/.gitkeep
backend/processed/*
!backend/processed/.gitkeep

# SQLite databases
backend/database/*.db

# Coverage & Test reports
.coverage
coverage/
*.xml
*.html
*.xlsx
htmlcov/

# Logs
*.log

# Dataset
backend/dataset/

