# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env

# IDE
.idea/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db